body {
    background-color: #38D5EB;
}

.button {
  background-color: #FFFFF;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
